.login {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft, .loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: brown;
    margin-bottom: 10px;
}

.loginDesc {
    font-size: 24px;
}

.loginBox {
    height: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput {
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 15px;
    padding-left: 20px;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    height: 37px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: brown;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgot {
    text-align: center;
    color: blue;
}

.loginRegisterButton {
    width: 65%;
    align-self: center;
    height: 37px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(214, 43, 43);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}