.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: #3f996e;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.topbarLeft {
    flex: 3;
}

.logo {
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}

.topbarCenter {
    flex: 5;
}

.searchBar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;

}

.searchInput {
    border: none;
    width: 70%;
    padding-left: 4px;
}

.searchInput:focus {
    outline: none;
}

.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
}

.topbarLink {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;    
}

.topbarIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbarIconItems {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
}

.topbarImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}