.sidebar {
    flex: 2.5;
    height: calc(100vh - 50px);
    overflow-y: hidden;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #e6fff3ec;
}

::-webkit-scrollbar-thumb {
    background-color: #3f996e;
}


.sidebarWrapper {
    padding: 20px;
    margin: 20px 10px 20px 20px;
    background-color: #ceffe7;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

h4 {
    margin-bottom: 15px;
    margin-left: 5px;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarIcon {
    margin-right: 15px;
}

.sidebarButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
}

.sidebarHr {
    margin: 20px 0;
}

.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}
