.post {
    width: 100%;
    border-radius: 10px;
    background-color: #c6ffe3c9;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
}

.postWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postUsername {
    font-size: 16px;
    font-weight: 500;
    margin: 0 10px;
}

.postDate {
    font-size: 12px;
}

.postTopRight {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.postTopRight:focus, .postTopRight:hover {
    background-color: #bfead6;
    border-radius: 50%;
}

.more {
    position: absolute;
    top: 0;
    right: 30px;
    width: 160px;
    background-color: #a6e1c4;
    box-shadow: 0 0 2px 0 #86948d;
    border-radius: 8px;
}

.more::after {
    content: ' ';
    /* width: 2px; */
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent transparent #a6e1c4;
    position: absolute;
    top: 5px;
    right: -17px;
}

.more ul {
    list-style: none;
    padding: 15px 16px;
}

.more ul li {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 8px;
    cursor: pointer;
}
.more ul li:last-child {
    margin-bottom: 0;
}



.postCenter {
    margin: 10px 0 20px 0;
}

.postText {
    font-size: 15px;
}

.postImg {
    width: calc(100% + 20px);
    background-color: white;
    margin-left: -10px;
    margin-top: 20px;
    max-height: 500px;
    object-fit: contain;
    transition: all 0.3s ease-in;
}

.postImg:hover {
    transform: scale(0.97);
    box-shadow: 0px 0px 16px -8px #024f29;
    border-radius: 8px;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.likeIcon {
    margin-right: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.postLikeCounter {
    font-size: 15px;
}

.postBottomRight {
    margin-right: 10px;
}

.postCommentText {
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}
